body {
	margin: 3em !important;
	align-items: center !important;
}
/*
body {
	font-family: sans-serif;
	font-size: 16px;
}
select {
	font-size: 16px;
}
mnput {
	font-size: 16px;
}
*/
	/*
header {
	margin: 1em;
	display: flex;
	justify-content: space-between;
}
*/

h2 {
	text-align: center;
}
#logo {
	display: flex;
	align-items: center;
}
img {
	flex-grow: initial;
	/*
	float: right;
	align-content: center;*/
	align-self:center;
	object-fit: scale-down;
	width: 30%;
	max-width: min-content;
}
li {
	margin: 1.5em;
}
li label {
	font-size: smaller;
}
textarea {
	width: 100%;
	height: 4em;
	overflow: scroll;
}
#sugerencias {
	height: 10em;
}
.opciones {
	padding: 0 1em;
}
td {
	width: 50%;
}
form {
	margin: 1em 3em 1em 3em;
}
td > * {
	width: 100%;
}
td label {
	width: 100%;
	text-align: right;
}
#submit {
	display: flex;
	margin: 2em;
}
.pregunta {
	margin: 0.5em;
	display: flex;
	flex-flow: column;
	width: 80%;
}
.aplica {
	font-size: x-small;
}
.slider {
	/*display: block;*/
	width: fit-content;
}
select {
	justify-self: center;
}
.datoscliente {
	align-self:center;
	margin: 1em;
	display: flex;
	justify-content: center;
	flex-flow: column;

}
