<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<title>Encuesta de satisfacción del cliente</title>
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
	<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
	<!--
	<script src="https://cdn.tailwindcss.com"></script>
	-->
</head>

<body>
		<header>
			<h1 class="text-center">Encuesta de satisfacción</h1>
			<div id="logo" class="flex-center">
				<img src={{url_for('static', filename='logo.png')}}>
			</div>
		</header>

		<div style="font-size: larger";>
		<p style="font-weight: bold;">Estimado/a Cliente,</p>
		<p>Nuestra empresa desea escucharlo.<br>Ayúdenos a perfeccionar nuestros servicios, tomándose unos minutos para darnos su opinión sobre temas que son importantes para nosotros. De esta forma, podremos brindarle una mejor atención.</p>
		<p>Para ello, por favor responda a los siguientes puntos:</p>
		</div>

	<form class="form" method="post">
		<ol>
			<li>¿Cuál es su postura respecto a la calidad de nuestros productos en general?<br>
				<div class="pregunta">
					<select name="pregunta1" id="pregunta1" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>
			</li>
		
			<li>¿Qué tan satisfecho está con la presentación de los productos cuando le son entregados?<br>
				<div class="pregunta">
					<select name="pregunta2" id="pregunta2" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>
			</li>

			<li>¿Cómo califica la atención de su asesor de ventas?<br>
				<div class="pregunta">
					<select name="pregunta3" id="pregunta3" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">No tengo</option>
					</select>
				</div>
			</li>
	
			<li>¿Está satisfecho con la atención en el mostrador o showroom?<br>
				<div class="pregunta">
					<select name="pregunta4" id="pregunta4" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">Nunca fui</option>
					</select>
				</div>
			</li>

			<li>¿Le resulta satisfactoria la calidad de atención que le da el personal en general?<br>
				<div class="pregunta">
					<select name="pregunta5" id="pregunta5" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">Solo trato con el vendedor</option>
					</select>
				</div>
			</li>

			<li>¿Cómo califica la gestión administrativa?<br>
				<div class="pregunta">
					<select name="pregunta6" id="pregunta6" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>
			</li>

			<li>¿Está satisfecho con el servicio de entrega en el local?<br>
				<div class="pregunta">
					<select name="pregunta7" id="pregunta7" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">No retiro del local</option>
					</select>
				</div>
			</li>

			<li>¿Qué tan satisfactorio ha sido el asesoramiento técnico recibido?<br>
				<div class="pregunta">
					<select name="pregunta8" id="pregunta8" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">Nunca solicité</option>
					</select>
				</div>

			</li>

			<li>¿Cómo califica los tiempos de respuesta en general?<br>
				<div class="pregunta">
					<select name="pregunta9" id="pregunta9" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>

			</li>

			<li>¿Cómo califica la expedición o entrega de nuestros productos?<br>
				<div class="pregunta">
					<select name="pregunta10" id="pregunta10" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>

			</li>

			<li>¿Qué tan satisfecho se encuentra con los plazos de entrega que ofrece la empresa?<br>
				<div class="pregunta">
					<select name="pregunta11" id="pregunta11" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>

			</li>

			<li>¿Se cumplen los plazos de entrega acordados?<br>
				<div class="pregunta">
					<select name="pregunta12" id="pregunta12" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>

			</li>

			<li>¿Cómo califica los tiempos de respuesta ante sus reclamos?<br>
				<div class="pregunta">
					<select name="pregunta13" id="pregunta13" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">Nunca hice un reclamo</option>
					</select>
				</div>

			</li>

			<li>¿Cómo califica su grado de satisfacción en general con nuestra empresa?<br>
				<div class="pregunta">
					<select name="pregunta14" id="pregunta14" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
					</select>
				</div>

			</li>

			<li>¿Cómo califica las soluciones de negocios ofrecidas?<br>
				<div class="pregunta">
					<select name="pregunta15" id="pregunta15" required>
						<option value="" selected disabled>Escoja una opción</option>
						<option value="3">Muy Satisfecho</option>
						<option value="2">Satisfecho</option>
						<option value="1">Levemente Satisfecho</option>
						<option value="0">Neutro</option>
						<option value="-1">Levemente Insatisfecho</option>
						<option value="-2">Insatisfecho</option>
						<option value="-3">Muy Insatisfecho</option>
						<option value="null">No sé</option>
					</select>
				</div>

			</li>
		</ol>

		<p>A continuación, le invitamos a expresar cualquier sugerencia, reclamo y/o oportunidad de mejora que desee compartir con nosotros:</p>
		<textarea name="sugerencias" id="sugerencias"></textarea>

		<label for="productos">¿Qué productos o servicios solicita usualmente?</label>
		<textarea name="productos-solicitados" id="productos-solicitados"></textarea>
		<label for="productos">¿Tiene alguna recomendación de producto o servicio que le gustaría que le sea ofrecido?</label>
		<textarea name="productos-sugeridos" id="productos-sugeridos"></textarea>

		<p>Por último, por favor complete con sus datos para finalizar la encuesta:</p>
		<div class="datoscliente">
			<input type="text" name="cliente" placeholder="Nombre y/o Razón Social" required>
			<input type="text" name="telefono" placeholder="Nro. de Whatsapp (09...)" pattern="\+?[0-9 ]{9,12}" title="09xx xxxxxx" required>
			<input type="text" name="vendedor" placeholder="Nombre de asesor que le atiende" required>
		</div>

		<div class='submit flex-center'>
			<input class="btn btn-primary" type="submit" value="Finalizar" id="submit">
		</div>
	</form>

	<!--
		<input type="radio" name="preguntaX" id="pX-1" value="1"><label for="pX-1">Muy insatisfecho</label>
		<input type="radio" name="preguntaX" id="pX-2" value="2"><label for="pX-2">Insatisfecho</label>
		<input type="radio" name="preguntaX" id="pX-3" value="3"><label for="pX-3">Neutro</label>
		<input type="radio" name="preguntaX" id="pX-4" value="4"><label for="pX-4">Satisfecho</label>
		<input type="radio" name="preguntaX" id="pX-5" value="5"><label for="pX-5">Muy satisfecho</label>
		<input type="radio" name="preguntaX" id="pX-0" value="0"><label for="pX-0">No aplica</label>
	-->
</body>
</html>

